
/*in CSS3 there are properties that are not supported in all browsers, 
but the vendors tried to handle it by using the vendors' prefix accordingly.
 -webkit- ,-moz- ,-o- , and -ms- that added before a CSS3 property. 
for more info check this document https://dev.to/neshaz/how-to-make-all-browsers-understand-your-css-2a4e  
 so this files showa how i tried to add those prefix to fix responsiveness in other browsers */



@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   /*font-family: "Big Shoulders Display", cursive;*/
 font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.card-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
}

.sedans-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e38826;
  text-align: left;
  padding: 4rem 3rem 4rem 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suvs-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #006970;
  text-align: left;
  padding: 4rem 3rem 4rem 3rem;
}

.luxury-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #004241;
  text-align: left;
  padding: 4rem 3rem 4rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sedans-card h1,
.suvs-card h1,
.luxury-card h1 {
  color: white;
  font-family: "Big Shoulders Display", cursive;
  margin: 2rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.sedans-card p,
.suvs-card p,
.luxury-card p {
  color: rgba(255, 255, 255, 0.75);
  margin: 2rem 0 4rem 0;
}


.sedans-card button, 
.suvs-card button, 
.luxury-card button 
{
  border: 2px solid white;
  background: white;
  padding: 0.7rem 1.7rem;
  margin-top: 3px;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
}
.sedabtn{
  color: #e38826;
}
.suvbtn{
  color:hsl(184, 100%, 22%); 
}
.luxubtn{
  color: #004241;
}
.sedans-card button:hover,
.suvs-card button:hover,
.luxury-card button:hover
{
  border: 2px solid white;
  color: white;
  /*padding: 1rem 2rem;*/
  border-radius: 2em;
  font-weight: 400;
  cursor: pointer;
  }
  .sedans-card button:hover{
    background-color: #e38826;
    
  }
  .suvs-card button:hover{
    background-color:hsl(184, 100%, 22%); 
  }
  .luxury-card button:hover{
    background-color: #004241;
  }

@media screen and (max-width: 500px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sedans-card{
    margin-top: 30px;
    -webkit-margin-top: 30px;
    -ms-marigin-top: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
   
  }
  .luxury-card{
    margin-bottom: 30px;
    -webkit-margin-bottom: 30px;
    -ms-marigin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
}
}
