@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background: white;
  display: flex;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}
.card1 {
  flex: 1;
  background: hsl(31, 77%, 52%);
  text-align: left;
  padding: 5rem 3rem 5rem 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
}
.card2 {
  flex: 1;
  background: hsl(184, 100%, 22%);
  text-align: left;
  padding: 5rem 3rem 5rem 3rem;
}
.card3 {
  flex: 1;
  background: hsl(179, 100%, 13%);
  text-align: left;
  padding: 5rem 3rem 5rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }

.card1 h1,
.card2 h1,
.card3 h1 {
  color: white;
  font-family: "Big Shoulders Display", cursive;
  margin: 2rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card1 p,
.card2 p,
.card3 p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 2rem 0 4rem 0;
  letter-spacing: 0.5px;
}
.card1 button {
  border: none;
  background: white;
  color: hsl(31, 77%, 52%);
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}
.card1 button:hover {
  border: 2px solid white;
  background: hsl(31, 77%, 52%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.card2 button {
  border: none;
  background: white;
  color: hhsl(184, 100%, 22%);
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}
.card2 button:hover {
  border: 2px solid white;
  background: hsl(184, 100%, 22%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.card3 button {
  border: none;
  background: white;
  color: hsl(179, 100%, 13%);
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}
.card3 button:hover {
  border: 2px solid white;
  background: hsl(179, 100%, 13%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card1{
    margin-top: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .card3{
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
}
}
